{% extends "auctions/layout.html" %}

{% block body %}
    {% if auction %}
        <h1>Listing: {{ auction.title }}</h1>
                
        <form action="{% url 'auction' auction.pk %}" method="post">
            {% csrf_token %}
            {{ watcllistForm }}
        </form>
        
        {% if auction.imageURL %}
            <p><img src="{{ auction.imageURL }}" alt="Auction picture" style="width:auto;height:256px"></p>
        {% endif %}
            <p>Price : € {{ price }}</p>
        <p>{{ auction.description }}</p>
        
        <p> {{ count_bid }} bid(s) so far. Your bid is the current bid.
            <form action="{% url 'auction' auction.pk %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="item_pk" value="{{ auction.pk }}">
                <input type="submit" value="Place Bid">
                {% if caution %}
                    <text> {{ caution }} </text>
                {% endif %}
            </form>
        </p>
        <h4>Details:</h4>
        <p>Listed by: {{ auction.seller.username }}</p>
        <div class="nav"><p class="nav-item">Categories: </p> 
            <ul class="nav">
                {% for cat in auction.category.all %}    
                    <li>
                        <a style="padding-left: 20px;" href="{% url 'category' cat.pk %}">{{ cat }}</a>
                    </li>
                {% empty %}
                    <li style="padding-left: 20px;"> No category </li>
                {% endfor %}    
            </ul>
        </div>    
    {% endif %}

    {% if message %}
        <h1>Error:</h1>
            {{ message }}
    {% endif %}



{% endblock %}