{% extends "auctions/layout.html" %}



{% block body %}
    {% block sub_body %}
    {% endblock %}    
   {% for auction in auctions %}
        <div style="border: solid gray; padding: 20px; margin: 20px;">
            <div class="row">
                <div class="col">
                    <a href="{% url 'auction' auction.pk %}"><img src="{{ auction.imageURL }}" alt="Auction picture" style="width:auto;height:256px"></a>
                </div>
                <div class="col">
                    <p><h3> {{ auction.title }} </h3></p>
                    
                    {% if auction.max_bid %}
                    <p><h3>Price : € {{ auction.max_bid }} </h3></p>
                    {% else %}
                    <p><h3>Price : € {{ auction.starting_bid }} </h3></p>
                    {% endif %}
                    
                    {% if auction.description %}
                        <p> {{ auction.description }} </p>
                    {% endif %}
                    <p>created date: {{ auction.seller }}</p>
                </div>
            </div>
        </div>    
    {% empty %}
        No auction listings.
    {% endfor %}
    
{% endblock %}